<body>
  <!-- <button mat-icon-button color="accent">
    <mat-icon >home</mat-icon>
  </button> -->

  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <p>I'm the sidenav!</p>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- <button (click)="sidenav.toggle()">Show Sidenav</button> -->
       <mat-toolbar color="primary">
        <div fxHide.gt-xs>
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div><a routerLink="/">LOGO</a></div>
        <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
          <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li><a routerLink="/signup">Signup</a></li>
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/training">Training</a></li>
          </ul>
        </div>
       </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  <!-- <app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>
  </div> -->
</body>
